.blue{
    color: #363958;
    font-family: 'Bebas Neue', cursive ;
    font-size: 80px;
    margin-bottom: 0%;

}
.red{
    color: #FF8367;
    font-family: 'Bebas Neue', cursive ;
    font-size: 80px;
    margin: 0%;
}
 
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #3E3E3E;
}
h2{
    font-family: 'Bebas Neue', cursive ;
    color: #363958;
    font-size: 48px;
     

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
    
}
.ab{
    margin: 8%;
    background-color: #f9f9fa;

}
.last{
    width: 24%;
    float: left;
    margin-left: 4%%;
    padding-left: 3%;
}


.im1{
    width: 90%;

}
.im2{
    width: 90%;
    border-color: #F46060;
}
.im3{
    width: 90%;
    border-color: rgb(164, 209, 194);
}


.ride{
    box-shadow: 10px 10px 40px rgb(207, 205, 205);
    border-radius: 20px;
    height: 65%;
    background-color: white;
    margin-left: 4%;


    

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FF8064, tomato);
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font: 700;
    margin-top:30px;

}

.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.last-red{
    color:#F46060;
}
.mid{
    text-align: center;
}
.gym{
    font-size: 22px;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-weight: 900px;
    color: #363958;
    

}
.gym1{
    font-size: 14px;
    color: #6C6C6C;
}
.bazar{
    font-size: 24px;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-weight: 900px;
    color: #363958;
}
.bazar1{
    font-size:14px;
    color: #6C6C6C;
}
.music{
    font-size: 24px;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    font-weight: 900px;
    color: #363958;
}
.music1{
    font-size: 14px;
    color: #6C6C6C;
}

.chat1{
    
  position: absolute;
  left: 100px;
  width: 300px;
  padding: 180px;
  margin-left: 5%;
  color: white;
  font-family:'Bebas Neue', cursive ;
}
.chat{

        text-decoration: none;
        background-image: url(images/66.png);
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        font: 700;
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
        
    
}
.link{
    text-decoration: none;
    background-image: linear-gradient(#FF8064, tomato);
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
    font: 700;

   right: 0px;
   position: absolute;

   -ms-transform: translateY(-50%);
    transform: translateY(600%);
  
    width: 65px;
    padding: 10px;
    margin-right: 28%;
}
.stay{
    font-family: 'Bebas Neue', cursive ;
    font-size: 24px bold;
    color: #696871;
    text-align: center;
}
.hellow{
     font-family: 'Roboto', sans-serif ;
     font-weight: 36px;
     color: #363958;
     text-align: center;
     font-weight: bold;
}

.link-last{
     
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;  
    margin-right: 30px;
    .a{
        margin-right: 30px;
    }